body {
    background-color: #f4f8fb !important;
}

.chatpage {
    background-color: #f8fcff;
    padding: 5px 10px;
    width: 100%;
}

.chatpage .chat-header .icons i {
    width: 40px;
    height: 40px;
    box-shadow: rgba(15, 79, 207, 0.35) 0px 5px 15px;
    font-size: 15px !important;
}

hr {
    border: 1px solid #1563ff;
}
/* scroll bar */
/* Scrollbar overall style */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #03045e; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #03055eb8; /* Color of the thumb on hover */
    transition: 0.5s;
}
