body {
    background-color: #f4f8fb !important;
}

span {
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 15px;
}

.chat-container {
    height: 600px;
    background: #e5f4ff;
}

.chatpage .chat-header .icons i {
    width: 40px;
    height: 40px;
    box-shadow: rgba(15, 79, 207, 0.35) 0px 5px 15px;
    font-size: 15px !important;
}

.onlinestatus {
    background-color: #38c70f;
    width: 10px;
    height: 10px;
    right: 150px;
    top: 0px;
    border-radius: 5rem;
    border: 1px solid #fff;
}


.hbtn {
    background: rgb(107, 100, 240);
    transition: 0.5s;
}
.hbtn:hover {
    background: none;
    border: 1px solid rgb(107, 100, 240);
    color: rgb(107, 100, 240);
}

.has-search .form-control {
    padding-left: 2.375rem;
    border: primary;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-control:focus {
    outline: none !important;
}

#chatBody {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 450px; /* Set a fixed height */
    padding: 10px; /* Optional, for some internal spacing */
}


.chat-background {
    background: rgb(179, 176, 235);
    background: linear-gradient(
        228deg,
        rgba(179, 176, 235, 1) 0%,
        rgba(241, 176, 236, 1) 32%,
        rgba(198, 181, 202, 1) 65%,
        rgba(193, 244, 255, 1) 100%
    );
}

.receiver-message {
    background: rgb(9, 0, 180);
    background: linear-gradient(
        345deg,
        rgba(9, 0, 180, 1) 0%,
        rgba(120, 8, 111, 1) 32%,
        rgba(210, 64, 84, 1) 65%,
        rgba(143, 73, 33, 1) 100%
    );
}
.chat-list-container {
    max-height: 400px; /* Adjust the height as needed */
    width: 100%;
    padding-right: 10px; /* Add padding to create space for scrollbar */
    margin-right: 10px; /* Add margin to create space for scrollbar */
}
.profile-image img {
    width: 50px;
    height: 50px;
}

/* scroll bar */
/* Scrollbar overall style */
::-webkit-scrollbar {
    width: 10px; 
    height: 100px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px; 
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: rgb(107, 100, 240); 
    border-radius: 10px; 
}


@media (max-width:992px) {
    p {
        font-size: 15px !important;
    }
    span {
        font-size: 15px !important;
    }
}

@media (max-width:1092px) {
    p {
        font-size: 15px !important;
    }
    span {
        font-size: 10px !important;
    }
    h6 {
        font-size: 10px;
    }

}